* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    text-align: center;
}

.list-thumbnail {
    text-align: center;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }  

.listitem-thumbnail {
    text-align: center;
    display: inline;
    margin: 10px;
}

.thumbnail {
    background-color: black;
    width:400px;
    height: 300px;
    display: inline-block;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}
