* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }  

li {
    text-align: center;
    display: inline;
    margin: 10px;
}

.thumbnail {
    background-color: black;
    width: 250px;
    height: 200px;
    display: inline-block;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}